<h2><span style="color: green">You have added an item to your cart!</span></h2>
<h4> Go back to the <%= link_to "desserts", home_path %> page, or click on the link above to go to your <%= link_to "checkout cart.", cart_path %>
