<div class= "row">
  <div class="col-xs-5">
    <span class="cart-title">Rachels Cart </span>
    <span class="cart-subtitle"><%= link_to "Checkout", checkout_path, class: "btn btn-primary btn-sm" %> </span>
    <br>
  </div>
</div>
    <%= render "shopping_cart" %>
</div>
