
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Desserts for Sale</h1>
 <% @products.each do |product| %>
      <%= render "product_row", product: product, product_item: @product_item %>
    <% end %>
  </div>
</div>
